@model string


<div class="content">
    <div class="row">
        <div class="col-md-4 col-xs-1"></div>
        <div class="col-md-4 alert alert-danger" style="text-align:center;line-height:3;margin-top:150px;">
              @Model
        </div>
        <div class="col-md-4 col-xs-1"></div>
    </div>
</div>
