@section styles {
    <link href="~/Component/Menu/Default.css" rel="stylesheet" />
    <link href="~/Component/Menu/Accordion.css" rel="stylesheet" />
}

@await Html.PartialAsync("_header.cshtml")

@await Component.InvokeAsync("BoxCategory", new { template = "Carousel", id = 1014, isShowCategoryTitle = false, isShowImage = true, isShowContent = false, componentName = "main_slider" })

<section id="sec-insurance">
    <div class="container-fluid holder">
        <app class="row no-gutters" asp-ng2-prerender-module="ClientApp/dist/main-server" asp-prerender-timeout="100000">
            <div id="loadingContainer">
                <div class="loading"></div>
            </div>
        </app>
    </div>
</section>


<section id="sec-reminder">
    <div class="container holder">
        <div class="row no-gutters">
            <div class="col2 col-md-4 col-12 about-us-img-container desktop">
                <img src="~/bimebaz/image/theme/reminder.jpg" title="بیمه پاسارگاد" alt="بیمه پاسارگاد" class="reminder" />
            </div>
            <div class="col1 col-md-8 col-12 reminder-form">
                <h2 class="col-12">
                    <span>
                        سه بار تاریخ بیمه‌نامه‌اتو یادآوری می‌کنیم
                    </span>
                </h2>
                @await Component.InvokeAsync("Reminder", new { componentName = "reminder" })

            </div>
        </div>
    </div>
</section>

<section id="sec-why-us">
    <h1 class="boxcategory-title col-lg-12">
        <span>
            چرا بیمه پاسارگاد
        </span>
    </h1>
    <div class="container holder">
        @await Component.InvokeAsync("BoxCategory", new { id = 1007, isShowCategoryTitle = false, isShowImage = true, isShowContent = false, componentName = "why-us" })
    </div>
</section>

<section id="sec-about-us">
    <div class="container holder">
        <div class="row">
            <div class="col1 col-md-7 col-xs-12">
                @await Component.InvokeAsync("Box", new { id = 29, componentName = "about-us" })
            </div>
            <div class="col2 col-md-5 col-xs-12 about-us-img-container desktop">
                <img src="~/bimebaz/image/theme/about-us.png" title="بیمه پاسارگاد" alt="درباره بیمه پاسارگاد" class="about-us-img" />
            </div>
        </div>
    </div>
</section>

<section id="sec-reminder-old">
    <div class="container holder">
        <h2 class="col-12">
            <span>
                سه بار تاریخ بیمه‌نامه‌اتو یادآوری می‌کنیم
            </span>
        </h2>
        aaaaaaaaaaaaaaaa<br />
        <br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br />
    </div>
</section>

<section id="sec-others-service">
    <div class="container holder">
        @await Component.InvokeAsync("BoxCategory", new { id = 1009, isShowCategoryTitle = true, isShowImage = true, isShowContent = false, componentName = "others-service" })
    </div>
</section>

<section id="sec-article-before" class="desktop"></section>

<section id="sec-article">
    <div class="container holder">
        @await Component.InvokeAsync("BoxCategory", new { id = 1010, isShowCategoryTitle = true, componentName = "box-category-articles" })
    </div>
</section>
<section id="sec-article-after"></section>
@await Html.PartialAsync("_footer.cshtml")

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
