@{
    ViewData["Title"] = "Home Page";
}
<div id="sec1" class="section">
    <div class="container holder">
        <div class="row">
            <div class="col-md-7 col-xs-12 ">
                @*<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>*@
                <app>Loading...</app>
            </div>
            <div class="col-md-5 col-xs-12"></div>
        </div>
    </div>
</div>


    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @section scripts {
        <script src="~/dist/main-client.js" asp-append-version="true"></script>
    }
