@model  box
    <div id="@ViewData["componentName"]" class="row no-gutters">
        @if ((bool)ViewData["isShowTitle"])
        {
            <div class="title2 col-12">
                <span>
                    @Model.title
                </span>
            </div>
        }
        <div class="content col-12">
           @Html.Raw(Model.content)
        </div>
    </div>