#thirdParty #calcThirdParty fieldset > div > div.row {
    height: auto;
}
body {
}
.desktop{
    display:none;
}
.desktop-menu {
    display: none
}
.step-navigation-container .step-navigation {
    width: 25%;
}
.mobile-menu {
    display: block ;
}
