<div  class="field-set col-12">
    <span *ngIf="fieldSet.title" class="field-set-legend">{{fieldSet.title}}</span>
    <div id="{{fieldSet.name}}" class="row no-gutters">
        <ng-container *ngFor="let field of fieldSet.fields">
            <div *ngIf="field.beforeCssClass" class="{{field.beforeCssClass}}"></div>
            <field  *ngIf="field.isShowField != false" class="{{field.fieldCssClass}} {{field.name}}"  [insurance]="insurance" [step]="step" [fieldSet]="fieldSet" [field]="field" (valueChanged)="fieldValueChange($event)"></field>
        </ng-container>

    </div>
</div>