@model List<role>

<div class="row">
    <h1 class="col-md-9 admin-box-title">لیست نقش ها</h1>
    <div class="col-md-3 op-buttns top">
        <a btntype="Create" asp-action="Create" asp-route-returnurl="/Admin/Role/Index">ایجاد نقش جدید</a>
    </div>
</div>

<div class="admin-box">
    <table class="table  table-striped">
        @{int r = 0;}
        @foreach (var role in Model)
        {
            r++;

        <tr>
            <td>@r - @role.actualName</td>
        </tr>
}
    </table>
</div>